<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../css/custom.css">
    <script src="../js/model/task.js"></script>
    <script src="../js/model/taskoperations.js"></script>
    <script src="../js/controller/taskcontroller.js"></script>
</head>
<body>
    <h1>Task Manager App</h1>
    <table>
        <tr>
            <td><label for="">Name</label></td>
            <td><input type="text" id="taskName"></td>
        </tr>
        <tr>
            <td><label for="">Desc</label></td>
            <td><textarea  id="taskDesc" cols="30" rows="10"></textarea></td>
        </tr>
        <tr>
            <td colspan="2">
                <table>
                    <tr>
                        <td><button id="add">Add</button></td>
                        <td><button>Delete</button></td>
                        <td><button>Search</button></td>
                        <td><button>Save</button></td>
                        <td><button>Load</button></td>
                        <td><button>Sort</button></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div>
        <fieldset>
            <legend>TaskList</legend>
            <ul id="tasklistul">
                
            </ul>
        </fieldset>
    </div>
</body>
</html>