body {
    text-align: center;
}
#header {
    border: 1px solid #000;
    margin-bottom: 20px;
}
#content {
    border: 1px solid red;
    margin-bottom: 20px;
    padding: 20px;
}
.group:after{
    content: '';
    display: table;
    clear: both;
}
#sidebar {
    float: left;
    width: 24%;
    border: 1px solid darkmagenta;
}
#sidebar ul {
    text-align: left;
}
#main {
    float: left;
    width: 73%;
    padding: 15px;
    text-align: left;
    border: 1px solid green;
}
#footer{
    border: 1px solid #000000;
}